body {
  position: relative;
  /* background-color: #0c0c0c; */
}

.header {
  /* position: fixed; */
  width: 100%;
  background-color: black;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 100px);
  margin: auto;
  align-items: center;
  min-height: 8vh;
}

@media (max-width: 720px) {
  .header__wrapper {
    width: calc(100% - 50px);
  }
}

.header__content a {
  display: flex;
  align-items: center;
  color: red;
}

.header__content .material-icons {
  margin-right: 5px;
}

.header__about {
  color: red;
}

/*  HERO SLIDER */
.hero-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-slide__item {
  width: 100%;
  position: relative;
  min-height: 100vh;
}

.hero-slide__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 65%);
}

.hero-slide__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 5, 0.036852240896358524) 0%,
    rgba(0, 0, 0, 0.7511379551820728) 46%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 1) 97%
  );
}

.hero__text {
  padding-right: 5%;
  flex: 2;
}

.hero-slide__link {
  flex: 1;
}

.hero-slide__item--content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 85%;

  right: 0;
  left: 0;
  top: 13%;
  margin: auto;
}

.hero__text h2 {
  color: red;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: bold;
}
.hero__text p {
  color: rgb(235, 235, 235);
}

.hero-slide__item--poster {
  display: flex;
  justify-content: end;
  flex: 1;
}

.hero-slide__item-img {
  max-width: 72%;
}

/* SEARCH BAR */
.input__search {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0c0c0c;
}

.input__search--wrapper {
  width: 45%;
}

.input__search--wrapper input {
  outline: none;
  width: 100%;
  min-width: 300px;
  padding: 10px;
  font-size: 1rem;
  background-color: #0c0c0c;
  color: rgb(236, 0, 0);
  border: 2px solid #686868;
}

.input__search--wrapper input::placeholder {
  color: #686868;
}

.input__search--wrapper input:focus {
  border: 2px solid rgb(236, 0, 0);
}

.input__search--wrapper .material-icons {
  position: absolute;
  color: #686868;
  left: 70%;
  bottom: 50px;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: fade-in 1.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* THUMB POSTER MOVIE */
.grid__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* cursor: pointer; */
}

.grid__image::before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 4px;
  right: 0;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}

.grid__image:hover::before {
  backdrop-filter: blur(2px);
  opacity: 1;
  background-color: rgba(3, 3, 3, 0.61);
}

.grid__image span {
  clip-path: polygon(100% 0%, 100% 100%, 51% 68%, 0 99%, 0% 50%, 0 0);
  position: absolute;
  background-color: gold;
  right: 0;
  color: rgb(0, 0, 0);
  font-size: 0.75rem;
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 3px;
  font-weight: bold;
}

.grid__image--info {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 10;
  top: 0;
  opacity: 0;
  transition: all ease-in-out 0.7s;
  -webkit-transition: all ease-in-out 0.7s;
  -moz-transition: all ease-in-out 0.7s;
  -ms-transition: all ease-in-out 0.7s;
  -o-transition: all ease-in-out 0.7s;
}

.grid__image:hover .grid__image--info {
  opacity: 1;
}

.grid__image--info p {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 0 10px;
}

.grid__image--info small {
  font-size: 0.6rem;
  font-weight: bold;
}
